# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=psych_api_db

# CORS Configuration
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# JWT Configuration
JWT_COOKIE_NAME=refresh_token
JWT_COOKIE_DOMAIN=
JWT_COOKIE_SECURE=false
JWT_SECRET=your-super-secret-key-at-least-32-chars-long-for-security

# MAILER
MAILER_FRONTNEND=http://localhost:5173/register/verify-email